html,
body,
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.routes {
  margin: 10px;
}

table {
  width: 600px;
}

.origin {
  margin-right: 5px;
  width: 100%;
  height: 30px;
}
.vehicle {
  margin-left: 5px;
  width: 100%;
}
.add-btn {
  margin-left: 10px;
  width: 100%;
  height: 25px;
}

.addBox {
  background-color: gainsboro;
  padding: 10px;
}

.origincar {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.add {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

/* ************************** ACCESS TOKEN ************************** */
/* {
  "token": "mzFcMRqhxzPAoRJavp2MJgWaOIwJc62NZPppgw6EjU8vMXGZa7y-20lE1ND9vYP_dLErDS2x5F7lC9F1e6SQeX0vCJ6pLmtIxH13W8eLRQWe34Pg6ZSTS10-QdqCStJ6Fb93AtIyJjQqmDCXPAR2CdqawjQvzUyRHp1OesOQ2JiFeY3g0JdKUl5YiLWoIorV",
  "expires": 1733025965210,
  "ssl": true
} */
/* ************************** ACCESS TOKEN ************************** */

/* ************************** ACCESS TOKEN ************************** */
/* {
  "token": "mzFcMRqhxzPAoRJavp2MJgWaOIwJc62NZPppgw6EjU8vMXGZa7y-20lE1ND9vYP_dLErDS2x5F7lC9F1e6SQeQNtTnZBSOtRq2qMICgzkq1XZQ0PO-u46KoRErUClO8Zof7N_5v8X2Egz_CHYzrEPHX8-BfkfT22EPDzS5ZOg26wPMTwdvorsSd-wZD29Nj8",
  "expires": 1733635833278,
  "ssl": true
} */
/* ************************** ACCESS TOKEN ************************** */
